<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cool Coffee Company</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="base-domain" content="{{ .BaseDomain }}">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel=stylesheet href="/static/style.css" type="text/css" />
  </head>
  <body>
    <h1>Cool Coffee Company</h1>
    <h3>We are cool and make coffee but are also a company</h3>
    <div>
      <a href="/products" class="fancy-button">Buy beans</a>
    </div>
  </body>
</html>
