<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Product | Cool Coffee Company</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="base-domain" content="{{ .BaseDomain }}">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel=stylesheet href="/static/style.css" type="text/css" />
    <script src="/static/ext/axios.min.js"></script>
  </head>
  <body>
    <a href="/" id="back">Return to home</a>
    <h1>Products</h1>
    <h3>Here are our finest products</h3>
    <p id="loading">Loading...</p>
    <div id="products">
    </div>
    <div id="actions">
    </div>
    <p id="greeting"></p>
    <template id="product">
      <div class="product">
        <h4 class="name"></h4>
        <p class="price"></p>
        <p class="size"></p>
        <p class="comment"></p>
      </div>
    </template>
  </body>
  <script>
   const products = document.querySelector("div#products")
   const baseDomain = document.querySelector('meta[name="base-domain"]').content
   const loading = document.querySelector("p#loading")
   const template = document.querySelector("#product")
   const actions = document.querySelector("div#actions")
   const greeting = document.querySelector("p#greeting")

   async function auth() {
     let localAuth = localStorage.getItem("auth")
     return axios({
       method: 'get',
       url: "https://auth."+baseDomain,
       headers: {
         Authorization: `bearer ${localAuth}`
       }
     })
   }

   function hasAuth() {
     return localStorage.getItem("auth") !== null
   }

   function login() {
     const authbutton = document.querySelector("button#authbutton")
     authbutton.textContent = "Logging in ..."
     authbutton.disabled = true

     axios.post("https://auth."+baseDomain+"/login").then((response) => {
       const data = response.data
       localStorage.setItem("auth", data)
       window.location.reload()
     })
   }

   function logout(reload = true) {
     localStorage.removeItem("auth")
     window.location.reload()
   }
   auth().then((response) => {
     const data = response.data
     greeting.textContent = `Kia Ora, ${data}!`
     actions.innerHTML = `<button id="authbutton" onclick="logout()">Logout</button>`
   }).catch(err => {
     console.log("Not logged in:", err)
     greeting.textContent = `Kia Ora, human! Feel free to login`
     actions.innerHTML = `<button id="authbutton" onclick="login()">Login</button>`
     if (hasAuth()) {
       logout(false)
     }
   })

   axios.get("https://inventory."+baseDomain).then((response) => {
     const data = response.data
     data.forEach(item => {
       let clone = template.content.firstElementChild.cloneNode(true)
       let name = clone.querySelector("h4.name")
       name.textContent = item.name
       let price = clone.querySelector("p.price")
       price.textContent = `$${item.price} NZD`
       let size = clone.querySelector("p.size")
       size.textContent = item.size
       let comment = clone.querySelector("p.comment")
       comment.textContent = item.comment
       if (hasAuth()) {
         let buyButton = document.createElement("button")
         buyButton.textContent = "Purchase"
         clone.appendChild(buyButton)
       }
       products.appendChild(clone)
     })
     loading.parentNode.removeChild(loading)
   })
  </script>
</html>
