* {
  font-family: Palatino Linotype, Book Antiqua, Palatino, FreeSerif, serif;
  color: #383d3d;
}

body {
  background: aliceblue;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

a.fancy-button {
  font-size: 2rem;
  background: burlywood;
  color: #824c0e;
}

div#products {
  display: inline-block;
}

div.product {
  width: 10rem;
  text-align: center;
  background-color: #fce1cd;
  margin: 4px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 10px;
}

div.product > h4,
p {
  margin: 2px;
}
